USE [master]
GO
/****** Object:  Database [QLyThuVien_Clone]    Script Date: 9/7/2025 2:38:57 PM ******/
CREATE DATABASE [QLyThuVien_Clone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLyThuVien_Clone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLyThuVien_Clone.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLyThuVien_Clone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLyThuVien_Clone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLyThuVien_Clone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLyThuVien_Clone]
GO
/****** Object:  Table [dbo].[blacklist_token]    Script Date: 9/7/2025 2:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blacklist_token](
	[token] [varchar](max) NOT NULL,
	[expired_at] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitietphieumuon]    Script Date: 9/7/2025 2:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietphieumuon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maphieu] [int] NOT NULL,
	[masach] [varchar](50) NOT NULL,
	[soluong] [int] NOT NULL,
	[version] [bigint] NULL,
 CONSTRAINT [PK_chitietphieumuon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitietphieutra]    Script Date: 9/7/2025 2:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietphieutra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maphieutra] [int] NOT NULL,
	[masach] [varchar](50) NOT NULL,
	[trangthai] [nvarchar](50) NOT NULL,
	[phiphat] [float] NOT NULL,
 CONSTRAINT [PK_chitietphieutra] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[docgia]    Script Date: 9/7/2025 2:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docgia](
	[madocgia] [int] IDENTITY(1,1) NOT NULL,
	[tendocgia] [nvarchar](50) NOT NULL,
	[sdt] [varchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_docgia] PRIMARY KEY CLUSTERED 
(
	[madocgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 9/7/2025 2:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[manv] [int] IDENTITY(1,1) NOT NULL,
	[tennv] [nvarchar](50) NOT NULL,
	[sdt] [varchar](50) NOT NULL,
	[ngaysinh] [date] NOT NULL,
	[quequan] [nvarchar](100) NOT NULL,
	[gioitinh] [nvarchar](50) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [varchar](max) NOT NULL,
 CONSTRAINT [PK_nhanvien] PRIMARY KEY CLUSTERED 
(
	[manv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhaxuatban]    Script Date: 9/7/2025 2:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhaxuatban](
	[manxb] [int] IDENTITY(1,1) NOT NULL,
	[tennxb] [nvarchar](255) NOT NULL,
	[sdt] [varchar](10) NULL,
	[email] [nvarchar](255) NOT NULL,
	[diachi] [nvarchar](255) NULL,
 CONSTRAINT [PK_nxb] PRIMARY KEY CLUSTERED 
(
	[manxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieumuon]    Script Date: 9/7/2025 2:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieumuon](
	[maphieu] [int] IDENTITY(1,1) NOT NULL,
	[madocgia] [int] NOT NULL,
	[manv] [int] NOT NULL,
	[ngaymuon] [datetime] NOT NULL,
	[ngaytradukien] [datetime] NOT NULL,
	[trangthai] [nvarchar](100) NOT NULL,
	[version] [bigint] NOT NULL,
 CONSTRAINT [PK_phieumuon] PRIMARY KEY CLUSTERED 
(
	[maphieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieutra]    Script Date: 9/7/2025 2:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieutra](
	[maphieutra] [int] IDENTITY(1,1) NOT NULL,
	[maphieu] [int] NOT NULL,
	[ngaytrathucte] [datetime] NOT NULL,
	[tongphiphat] [float] NOT NULL,
	[ghichu] [nvarchar](255) NULL,
 CONSTRAINT [PK_phieutra] PRIMARY KEY CLUSTERED 
(
	[maphieutra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sach]    Script Date: 9/7/2025 2:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach](
	[masach] [varchar](50) NOT NULL,
	[tensach] [nvarchar](50) NOT NULL,
	[matacgia] [int] NOT NULL,
	[manxb] [int] NOT NULL,
	[matheloai] [int] NOT NULL,
	[namxb] [int] NULL,
	[sotrang] [int] NULL,
	[soluong] [int] NOT NULL,
 CONSTRAINT [PK_sach] PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tacgia]    Script Date: 9/7/2025 2:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tacgia](
	[matacgia] [int] IDENTITY(1,1) NOT NULL,
	[tentacgia] [nvarchar](255) NOT NULL,
	[namsinh] [int] NULL,
	[quequan] [nvarchar](255) NULL,
	[mota] [nvarchar](1000) NULL,
	[sdt] [nvarchar](10) NULL,
	[email] [nvarchar](255) NULL,
 CONSTRAINT [PK_tacgia] PRIMARY KEY CLUSTERED 
(
	[matacgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[theloai]    Script Date: 9/7/2025 2:38:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theloai](
	[matheloai] [int] IDENTITY(1,1) NOT NULL,
	[tentheloai] [nvarchar](255) NOT NULL,
	[mota] [nvarchar](1000) NULL,
 CONSTRAINT [PK_theloai] PRIMARY KEY CLUSTERED 
(
	[matheloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[blacklist_token] ([token], [expired_at]) VALUES (N'eyJhbGciOiJIUzM4NCJ9.eyJyb2xlIjoiTkhBTl9WSUVOIiwic3ViIjoidGllbmRhdCIsImlhdCI6MTc1MDc1NDMyOSwiZXhwIjoxNzUwNzU3OTI5fQ.rsa__LWaVoejRwvpWIGiE0fvalGK4nQ14Lwt75utFKmbyXcxkDBJ2ZwUjaqltyi3', CAST(N'2025-06-24T16:38:48.230' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[chitietphieumuon] ON 

INSERT [dbo].[chitietphieumuon] ([id], [maphieu], [masach], [soluong], [version]) VALUES (1, 9, N'S002', 1, 0)
INSERT [dbo].[chitietphieumuon] ([id], [maphieu], [masach], [soluong], [version]) VALUES (2, 9, N'S003', 1, 0)
INSERT [dbo].[chitietphieumuon] ([id], [maphieu], [masach], [soluong], [version]) VALUES (3, 9, N'S004', 1, 0)
SET IDENTITY_INSERT [dbo].[chitietphieumuon] OFF
GO
SET IDENTITY_INSERT [dbo].[chitietphieutra] ON 

INSERT [dbo].[chitietphieutra] ([id], [maphieutra], [masach], [trangthai], [phiphat]) VALUES (20, 5, N'S002', N'Hư hỏng/Mất', 100000)
INSERT [dbo].[chitietphieutra] ([id], [maphieutra], [masach], [trangthai], [phiphat]) VALUES (21, 5, N'S003', N'Nguyên vẹn', 0)
INSERT [dbo].[chitietphieutra] ([id], [maphieutra], [masach], [trangthai], [phiphat]) VALUES (22, 5, N'S004', N'Nguyên vẹn', 0)
SET IDENTITY_INSERT [dbo].[chitietphieutra] OFF
GO
SET IDENTITY_INSERT [dbo].[docgia] ON 

INSERT [dbo].[docgia] ([madocgia], [tendocgia], [sdt], [email], [diachi]) VALUES (1, N'Sinh Viên 1', N'0333444898', N'sv1@gmail.com', N'Triều Khúc, Hà Nội')
INSERT [dbo].[docgia] ([madocgia], [tendocgia], [sdt], [email], [diachi]) VALUES (3, N'Tiến đat', N'0987654321', N'dat@gmail.com', N'112313')
SET IDENTITY_INSERT [dbo].[docgia] OFF
GO
SET IDENTITY_INSERT [dbo].[nhanvien] ON 

INSERT [dbo].[nhanvien] ([manv], [tennv], [sdt], [ngaysinh], [quequan], [gioitinh], [role], [username], [password]) VALUES (4, N'Đào Duy Đạt', N'0376518204', CAST(N'2004-07-18' AS Date), N'Tiên Lãng, Hải Phòng', N'Nam', N'QUAN_LY', N'daodat1807', N'$2a$12$pJ89P5A.5c.8azuTaBoLXuao8w3FMOK3S2oVO8ixOq8aRY0tMt.IS')
INSERT [dbo].[nhanvien] ([manv], [tennv], [sdt], [ngaysinh], [quequan], [gioitinh], [role], [username], [password]) VALUES (5, N'Phạm Tiến Đạt', N'0942115666', CAST(N'2004-07-19' AS Date), N'Lê Chân, Hải Phòng', N'Nam', N'NHAN_VIEN', N'tiendat', N'$2a$12$Z8C20zVoJj48ehjd5z4xx.N5XpAnF.sOjOsVpHjCBOkM9.ZXaoO/S')
INSERT [dbo].[nhanvien] ([manv], [tennv], [sdt], [ngaysinh], [quequan], [gioitinh], [role], [username], [password]) VALUES (6, N'Nguyễn Tiến Đông', N'0912345678', CAST(N'1995-02-02' AS Date), N'Bắc Ninh', N'Nam', N'NHAN_VIEN', N'tiendong', N'$2a$10$W8t38tH4tHj0SbY2ND25zOALMZp3Pcw/95aJwtU5a4PVczz5n1P/6')
SET IDENTITY_INSERT [dbo].[nhanvien] OFF
GO
SET IDENTITY_INSERT [dbo].[nhaxuatban] ON 

INSERT [dbo].[nhaxuatban] ([manxb], [tennxb], [sdt], [email], [diachi]) VALUES (1, N'Kim Đồng 1', N'0333388888', N'kimdong@gmail.com', N'Hai Bà Trưng, Hà Nội')
INSERT [dbo].[nhaxuatban] ([manxb], [tennxb], [sdt], [email], [diachi]) VALUES (2, N'Trẻ', N'0987654321', N'tre@gmail.com', N'Hà Đông, Hà Nội')
SET IDENTITY_INSERT [dbo].[nhaxuatban] OFF
GO
SET IDENTITY_INSERT [dbo].[phieumuon] ON 

INSERT [dbo].[phieumuon] ([maphieu], [madocgia], [manv], [ngaymuon], [ngaytradukien], [trangthai], [version]) VALUES (9, 1, 4, CAST(N'2025-06-05T22:00:00.000' AS DateTime), CAST(N'2025-06-12T22:00:00.000' AS DateTime), N'Đã trả', 1)
INSERT [dbo].[phieumuon] ([maphieu], [madocgia], [manv], [ngaymuon], [ngaytradukien], [trangthai], [version]) VALUES (10, 1, 5, CAST(N'2025-08-15T09:00:00.000' AS DateTime), CAST(N'2025-08-22T14:00:00.000' AS DateTime), N'Đã trả', 1)
INSERT [dbo].[phieumuon] ([maphieu], [madocgia], [manv], [ngaymuon], [ngaytradukien], [trangthai], [version]) VALUES (11, 3, 4, CAST(N'2025-08-22T02:00:00.000' AS DateTime), CAST(N'2025-08-27T12:00:00.000' AS DateTime), N'Chưa trả', 1)
SET IDENTITY_INSERT [dbo].[phieumuon] OFF
GO
SET IDENTITY_INSERT [dbo].[phieutra] ON 

INSERT [dbo].[phieutra] ([maphieutra], [maphieu], [ngaytrathucte], [tongphiphat], [ghichu]) VALUES (5, 9, CAST(N'2025-06-18T08:48:00.000' AS DateTime), 125000, N'Dế mèn 2 bị hỏng bìa')
INSERT [dbo].[phieutra] ([maphieutra], [maphieu], [ngaytrathucte], [tongphiphat], [ghichu]) VALUES (6, 13, CAST(N'2025-08-29T14:00:00.000' AS DateTime), 210000, N'Vũ trụ và Vũ trụ 2 bị nhàu nát, rách bìa')
INSERT [dbo].[phieutra] ([maphieutra], [maphieu], [ngaytrathucte], [tongphiphat], [ghichu]) VALUES (7, 14, CAST(N'2025-07-10T03:05:00.000' AS DateTime), 155000, N'')
SET IDENTITY_INSERT [dbo].[phieutra] OFF
GO
INSERT [dbo].[sach] ([masach], [tensach], [matacgia], [manxb], [matheloai], [namxb], [sotrang], [soluong]) VALUES (N'S001', N'Dế Mèn', 4, 1, 1, 2005, 300, 146)
INSERT [dbo].[sach] ([masach], [tensach], [matacgia], [manxb], [matheloai], [namxb], [sotrang], [soluong]) VALUES (N'S002', N'Dế Mèn 2', 1, 1, 2, 2007, 340, 93)
INSERT [dbo].[sach] ([masach], [tensach], [matacgia], [manxb], [matheloai], [namxb], [sotrang], [soluong]) VALUES (N'S003', N'Vũ trụ ', 1, 1, 2, 2008, 333, 107)
GO
SET IDENTITY_INSERT [dbo].[tacgia] ON 

INSERT [dbo].[tacgia] ([matacgia], [tentacgia], [namsinh], [quequan], [mota], [sdt], [email]) VALUES (1, N'Nam Cao', 1965, N'Việt Nam', N'Nhà văn truyện ký', N'0123456789', N'namcao@gmail.com')
INSERT [dbo].[tacgia] ([matacgia], [tentacgia], [namsinh], [quequan], [mota], [sdt], [email]) VALUES (2, N'Nam Cao 2', 1965, N'Việt Nam', N'Nhà văn truyện ký', N'0376518204', N'namcao@gmail.com')
INSERT [dbo].[tacgia] ([matacgia], [tentacgia], [namsinh], [quequan], [mota], [sdt], [email]) VALUES (4, N'Nam Cao 10', 1965, N'Việt Nam', N'Nhà văn truyện ký', N'0123456789', NULL)
SET IDENTITY_INSERT [dbo].[tacgia] OFF
GO
SET IDENTITY_INSERT [dbo].[theloai] ON 

INSERT [dbo].[theloai] ([matheloai], [tentheloai], [mota]) VALUES (1, N'Truyện kí', NULL)
INSERT [dbo].[theloai] ([matheloai], [tentheloai], [mota]) VALUES (2, N'Thơ', NULL)
SET IDENTITY_INSERT [dbo].[theloai] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Email]    Script Date: 9/7/2025 2:38:58 PM ******/
ALTER TABLE [dbo].[docgia] ADD  CONSTRAINT [UQ_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Sdt123]    Script Date: 9/7/2025 2:38:58 PM ******/
ALTER TABLE [dbo].[docgia] ADD  CONSTRAINT [UQ_Sdt123] UNIQUE NONCLUSTERED 
(
	[sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SDT]    Script Date: 9/7/2025 2:38:58 PM ******/
ALTER TABLE [dbo].[nhanvien] ADD  CONSTRAINT [UQ_SDT] UNIQUE NONCLUSTERED 
(
	[sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_username]    Script Date: 9/7/2025 2:38:58 PM ******/
ALTER TABLE [dbo].[nhanvien] ADD  CONSTRAINT [UQ_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chitietphieumuon]  WITH CHECK ADD  CONSTRAINT [FK_chitietphieumuon_phieumuon] FOREIGN KEY([maphieu])
REFERENCES [dbo].[phieumuon] ([maphieu])
GO
ALTER TABLE [dbo].[chitietphieumuon] CHECK CONSTRAINT [FK_chitietphieumuon_phieumuon]
GO
ALTER TABLE [dbo].[chitietphieumuon]  WITH CHECK ADD  CONSTRAINT [FK_chitietphieumuon_sach] FOREIGN KEY([masach])
REFERENCES [dbo].[sach] ([masach])
GO
ALTER TABLE [dbo].[chitietphieumuon] CHECK CONSTRAINT [FK_chitietphieumuon_sach]
GO
ALTER TABLE [dbo].[chitietphieutra]  WITH CHECK ADD  CONSTRAINT [FK_chitietphieutra_phieutra] FOREIGN KEY([maphieutra])
REFERENCES [dbo].[phieutra] ([maphieutra])
GO
ALTER TABLE [dbo].[chitietphieutra] CHECK CONSTRAINT [FK_chitietphieutra_phieutra]
GO
ALTER TABLE [dbo].[phieumuon]  WITH CHECK ADD  CONSTRAINT [FK_phieumuon_docgia] FOREIGN KEY([madocgia])
REFERENCES [dbo].[docgia] ([madocgia])
GO
ALTER TABLE [dbo].[phieumuon] CHECK CONSTRAINT [FK_phieumuon_docgia]
GO
ALTER TABLE [dbo].[phieumuon]  WITH CHECK ADD  CONSTRAINT [FK_phieumuon_nhanvien] FOREIGN KEY([manv])
REFERENCES [dbo].[nhanvien] ([manv])
GO
ALTER TABLE [dbo].[phieumuon] CHECK CONSTRAINT [FK_phieumuon_nhanvien]
GO
ALTER TABLE [dbo].[phieutra]  WITH CHECK ADD  CONSTRAINT [FK_phieutra_phieumuon] FOREIGN KEY([maphieu])
REFERENCES [dbo].[phieumuon] ([maphieu])
GO
ALTER TABLE [dbo].[phieutra] CHECK CONSTRAINT [FK_phieutra_phieumuon]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK_sach_nhaxuatban] FOREIGN KEY([manxb])
REFERENCES [dbo].[nhaxuatban] ([manxb])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK_sach_nhaxuatban]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK_sach_tacgia] FOREIGN KEY([matacgia])
REFERENCES [dbo].[tacgia] ([matacgia])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK_sach_tacgia]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK_sach_theloai] FOREIGN KEY([matheloai])
REFERENCES [dbo].[theloai] ([matheloai])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK_sach_theloai]
GO
ALTER TABLE [dbo].[nhanvien]  WITH CHECK ADD  CONSTRAINT [CHK_role] CHECK  (([role]='NHAN_VIEN' OR [role]='QUAN_LY'))
GO
ALTER TABLE [dbo].[nhanvien] CHECK CONSTRAINT [CHK_role]
GO
ALTER TABLE [dbo].[nhanvien]  WITH CHECK ADD  CONSTRAINT [CK_nhanvien_gioitinh] CHECK  (([gioitinh]=N'Nữ' OR [gioitinh]=N'Nam'))
GO
ALTER TABLE [dbo].[nhanvien] CHECK CONSTRAINT [CK_nhanvien_gioitinh]
GO
USE [master]
GO
